{% extends 'base.html' %}

{% block title %}Загрузка файлов - YaCut{% endblock %}

{% block content %}
<section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">Загрузите файлы и получите на них короткие ссылки</p>
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data" action="{{ files_url }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.files.label(class="form-label") }}
                    {{ form.files(class="form-control", multiple=true) }}
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Загрузить">
                </div>
            </form>
            
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <ul class="alert alert-danger mt-4">
                        <li>{{ message }}</li>
                    </ul>
                {% endfor %}
            {% endwith %}
            
            {% if uploaded %}
                <div class="mt-5">
                    <h5>Загруженные файлы:</h5>
                    <ul class="list-group">
                        {% for file in uploaded %}
                            <li class="list-group-item">
                                <strong>{{ file.filename }}</strong><br>
                                Короткая ссылка: <a href="{{ file.short_url}}">{{ file.short_url }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}